- const title = "Borja Canseco :: Software Engineer";
- const description = "Borja Canseco is a software engineer based in Austin, TX. He currently works under IBM's Watson IoT division. This is his personal website.";
- const image = "https://full.stack.dev/images/headshot.png";

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#008080")
    meta(name="keywords" content="borja canseco,software engineer,austin")
    meta(name="description", content=description)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@borja_canseco")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=image)
    meta(property="og:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="profile")
    meta(property="og:image" content=image)

    title #{title}

    link(rel="icon", type="image/png", href="/images/favicon.png")
    link(rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" as="style")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    link(rel="canonical" href="https://full.stack.dev/")
    link(rel="sitemap" type="application/xml" href="/sitemap.xml")
  body.container
    header
      h1 Borja Canseco
    main.six.columns.offset-by-three
      .details
        | Hello! I'm a software engineer in Austin, TX. It looks like you stumbled across my personal website.
        | Someday I'll find the time to actually put something interesting on here.
        | In the meantime, feel free to check out the links below.
      .links
        a.button(href="https://github.com/bcanseco", title="Borja's GitHub profile") GitHub
        a.button(href="https://linkedin.com/in/bcanseco", title="Borja's LinkedIn profile") LinkedIn
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Raleway:400,300,600")
